body {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(26px/16px);
    color: $text;
    font-family: $font-2;
    background-color: $bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-3;
    color: $heading;
    font-weight: 500;
    margin: 0 0 10px;
}

h2 {
    @include font-42;
}

h4 {
    @include font-26;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    @include transition;
}

input,
textarea,
button {
    padding: 10px 25px;
    border: 1px solid $border;
    outline: none;
    @include transition;
    &:focus {
        outline: none;
        border-color: $primary;
    }
}


/*Hide number spin button*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.common {
    // &-svg {
    //     display: inline-block;
    //     height: 1em;
    //     overflow: visible;
    //     vertical-align: -0.125em;
    // }
    // &-row {
    //     --bs-gutter-x: 32px;
    //     margin-bottom: calc(var(--bs-gutter-x) * -1);
    //     @include mmd {
    //         --bs-gutter-x: 24px;
    //     }
    //     &>div {
    //         margin-bottom: var(--bs-gutter-x);
    //     }
    // }
    &-padding {
        --padding-y: 150px;
        --padding-x: 0;
        padding: var(--padding-y) var(--padding-x);
        @include lg {
            --padding-y: 120px;
        }
        @include md {
            --padding-y: 100px;
        }
        @include md {
            --padding-y: 80px;
        }
        @include sm {
            --padding-y: 60px;
        }
    }
    &-title {
        margin-bottom: 60px;
        @include md {
            margin-bottom: 40px;
        }
        @include sm {
            margin-bottom: 30px;
        }
        & h2 {
            @include font-42;
        }
        // & p {
        //     @include font-20;
        // }
    }
}

.btn {
    background: conic-gradient(from var(--deg, 0deg) at 50% 50%, #EEE578 0deg, #D3A034 360deg);
    color: $black !important;
    --bs-btn-padding-y: 12px;
    --bs-btn-padding-x: 40px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    &:hover {
        --deg: 180deg;
    }
}

// social 
.social {
    &-link {
        --width: 35px;
        width: var(--width);
        height: var(--width);
        background-color: $white;
        border: 1px solid rgba($color: $white, $alpha: .50);
        color: $black;
        font-size: 18px;
        &:hover {
            background-color: $white;
            color: $primary;
        }
    }
}

#root {
    overflow: hidden;
}

:root {
    scroll-behavior: auto !important;
}

.container {
    @media only screen and (min-width: 1500px) {
        max-width: 1490px
    }
}