@keyframes headerAnimation {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.logo {
    cursor: pointer;
}

.heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: rgba($color: $black, $alpha: .10);
    backdrop-filter: blur(7px);
    padding: var(--bs-navbar-padding-y) 0;
    --bs-navbar-padding-y: 16px;
    &.position-fixed {
        animation: headerAnimation .5s linear;
        background-color: rgba($color: $black, $alpha: .30);
    }
    &-menu {
        margin-left: 140px;
        @include lg {
            margin-left: 70px;
        }
        @include mmd {
            margin-left: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: $black, $alpha: .90);
            padding: 24px;
            backdrop-filter: blur(14px);
            transform: translateY(100%);
            @include transition;
            &.show-menu {
                transform: translate(0, 0);
            }
        }
        & .title {
            margin-bottom: 32px;
            @include sm {
                margin-bottom: 24px;
            }
        }
    }
    &-link {
        font-size: 18px;
        line-height: 160%;
        color: rgba($color: $white, $alpha: .70);
        font-weight: 400;
        font-family: $font-1;
        display: block;
        padding: 10px 1rem;
        cursor: pointer;
        @include lg {
            padding: 10px 12px;
        }
        @include mmd {
            padding-left: 0;
            padding-right: 0;
        }
        &:hover,
        &.active {
            color: $white;
        }
    }
    &-actions {
        grid-gap: 32px;
        @include lg {
            grid-gap: 24px;
        }
        @include md {
            grid-gap: 16px;
        }
        @include sm {
            grid-gap: 8px;
        }
    }
    & .social-link {
        background-color: transparent;
        border: none;
        color: $white;
        @include font-32;
        &:hover {
            color: $primary;
        }
    }
    & .btn {
        @include mmd {
            --bs-btn-padding-y: 9px;
            --bs-btn-padding-x: 20px;
        }
    }
    &-toggler {
        --width: 40px;
        width: var(--width);
        height: var(--width);
        padding: 0;
        border-radius: 4px;
        border: none;
        background-color: rgba($color: $black, $alpha: .1);
        color: rgba($color: $white, $alpha: .80);
        display: flex;
        align-items: center;
        justify-content: center;
        & svg {
            --width: 30px;
            width: var(--width);
            height: var(--width);
        }
    }
}