@keyframes headerAnimation {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.logo {
    cursor: pointer;
}

.heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: rgba($color: $black, $alpha: .10);
    backdrop-filter: blur(7px);
    padding: var(--bs-navbar-padding-y) 0;
    --bs-navbar-padding-y: 16px;
    &.position-fixed {
        animation: headerAnimation .5s linear;
    }
    &-menu {
        margin-left: 140px;
        @include mmd {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: $white, $alpha: .90);
            padding: 24px 16px;
            transform: translateY(100%);
            @include transition;
            &.show-menu {
                transform: translate(0, 0);
            }
        }
        & .title {
            margin-bottom: 32px;
            @include sm {
                margin-bottom: 24px;
            }
        }
    }
    &-link {
        font-size: 18px;
        line-height: 160%;
        color: rgba($color: $white, $alpha: .70);
        font-weight: 400;
        font-family: $font-1;
        display: block;
        padding: 10px 1rem;
        cursor: pointer;
        @include lg {
            padding: 10px 12px;
        }
        &:hover,
        &.active {
            color: $white;
        }
    }
    &-actions {
        grid-gap: 32px;
        @include lg {
            grid-gap: 24px;
        }
        @include md {
            grid-gap: 16px;
        }
        @include sm {
            grid-gap: 8px;
        }
    }
    & .social-link {
        background-color: transparent;
        border: none;
        color: $white;
        @include font-32;
        &:hover {
            color: $primary;
        }
    }
    &-toggler {
        --btn-padding-x: 4px;
        --btn-padding-y: 5px;
        padding: var(--btn-padding-y) var(--btn-padding-x);
        border: none;
        background-color: transparent;
        color: $heading;
        display: flex;
        align-items: center;
        justify-content: center;
        & svg {
            --width: 40px;
            width: var(--width);
            height: var(--width);
            @include sm {
                --width: 32px;
            }
        }
    }
}